@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

:root {
  --sys-primary: rgb(0, 123, 255);
  --sys-primary-active: rgb(61, 153, 252);
  --sys-on-primary: rgb(255, 255, 255);
  --sys-primary-container: rgb(220, 230, 255);
  --sys-on-primary-container: rgb(0, 0, 0);
  --sys-secondary: rgb(108, 117, 125);
  --sys-on-secondary: rgb(255, 255, 255);
  --sys-secondary-container: rgb(235, 238, 240);
  --sys-on-secondary-container: rgb(0, 0, 0);
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  width: 1250px;
  margin-bottom: 50px;
}

.page-container .form-container,
.page-container .table-container {
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-x: auto;
}

.page-container .table-container tr {
  height: 56px;
  vertical-align: middle;
}

.page-container .table-container tbody tr td {
  padding: 16px 8px;
}

.page-container .form-container .search-container input {
  width: 400px;
  border-radius: 8px;
  padding: 6px 15px;
  border: 1px solid #ced4da;
}

.modal-container .modal-input {
  border-radius: 8px;
  padding: 6px 15px;
  border: 1px solid #ced4da;
}

.page-container .table-container .avt-img {
  width: 45px;
  border-radius: 50%;
}

.page-container .table-container .role-tag {
  padding: 0 8px;
  width: fit-content;
  border-radius: 6px;
}

.page-container .table-container .admin-tag {
  color: #cf1322;
  background: #fff1f0;
  border-color: #ffa39e;
}

.page-container .table-container .user-tag {
  color: #08979c;
  background: #e6fffb;
  border-color: #87e8de;
}

.page-container .form-container .search-container input:focus,
.modal-container .modal-input:focus {
  border: 1px solid var(--sys-primary);
  outline: none;
}

.page-container .form-container .search-container .but-search {
  border: none;
  background-color: transparent;
  margin-left: -40px;
}

.page-container .form-container .btn-add {
  background-color: var(--sys-primary);
  color: var(--sys-on-primary);
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.page-container .form-container .btn-add:active {
  background-color: var(--sys-primary-active);
}

.modal-container .btn-modal-add {
  color: #08979c;
  background: #e6fffb;
  border: 1px solid #87e8de;
  padding: 6px 18px;
  border-radius: 8px;
  transition: opacity 0.25s ease;
}

.modal-container .btn-modal-cancel {
  color: #cf1322;
  background: #fff1f0;
  border: 1px solid #ffa39e;
  padding: 6px 18px;
  border-radius: 8px;
  transition: opacity 0.25s ease;
}

.modal-container .btn-modal-add:active,
.modal-container .btn-modal-cancel:active {
  opacity: 0.5;
}

.auth-layout-container {
  background-color: #e1e9eb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-layout-container .form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
}


.auth-layout-container .form-container .login-form {
  width: 100%;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.auth-layout-container .form-container .login-form .btn-social-login {
  border-radius: 8px;
  border: 1px solid var(--sys-primary);
  color: var(--sys-primary);
  transition: background-color 0.3s ease;
}

.auth-layout-container .form-container .login-form .btn-social-login:active {
  background-color: var(--sys-primary-active);
  color: #fff;
}

.auth-layout-container .form-container .login-form input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ced4da;
  margin-bottom: 15px;
}

.auth-layout-container .form-container .login-form input:focus {
  border-color: var(--sys-primary);
  outline: none;
}

.auth-layout-container .form-container .login-form .ant-checkbox-inner {
  width: 20px;
  height: 20px;
  color: var(--sys-primary);
}

.auth-layout-container .form-container .login-form .btn-login {
  background-color: var(--sys-primary);
  padding: 8px 10px;
  color: var(--sys-on-primary);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.auth-layout-container .form-container .login-form .btn-login:active {
  background-color: var(--sys-primary-active);
}

.ant-modal-content {
  border-radius: 8px;
}

.custom-toast {
  min-width: 450px !important;
  max-width: 600px !important;
}

/* Poit view style */

.view-post-container {
  width: 770px;
  font-family: 'Roboto', sans-serif;
}

.view-post-container .author-avt {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.view-post-container .post-action {
  background: #e6fffb;
  border: 1px solid #87e8de;
  border-radius: 8px;
}

.view-post-container .post-action a {
  color: #08979c;
}

.view-post-container .post-action a:hover {
  background-color: rgba(0, 0, 0, 0.035);
  border-radius: 5px;
}

.view-post-container .post-content {
  font-size: 16px;
}

.view-post-container .post-content figure.table {
  overflow-x: auto;
}

.view-post-container .post-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

.view-post-container .post-content th,
.view-post-container .post-content td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}

.view-post-container .post-content table tr:first-child th,
.view-post-container .post-content table tr:first-child td {
  font-weight: bold;
}

.view-post-container .post-content figure.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}

.view-post-container .post-content figure.image img {
  width: 90%;
  height: auto;
  object-fit: contain;
}

.view-post-container .post-content figure figcaption {
  margin-top: 0.5rem;
  font-size: 14px;
  color: #555;
  text-align: center;
  max-width: 100%;
}