<div class="header-container d-flex justify-content-between align-items-center p-4">
  <div class="header-left">
    <a class="navbar-brand" href="/admin-dashboard">
      <img src="../../../assets/images/admin/logo.svg" alt="Logo" class="logo">
    </a>
  </div>
  <div class="header-right d-flex align-items-center gap-4">
    <div class="theme-mode">
      <button class="but" (click)="toggleDarkMode()">
        <i class="bi" [ngClass]="darkMode ? 'bi-moon' : 'bi-brightness-high'"></i>
      </button>
    </div>
    <div class="notification">
      <button class="but"><i class="bi bi-bell"></i></button>
    </div>
    <div class="profile-container">
      <div class="profile-image-container">
        <img src="../../../assets/images/admin/my-avartar.jpg" alt="Profile" class="profile-image">
      </div>
    </div>
  </div>
</div>