# Visual Studio
.vs/
*.user
*.suo

# Build output
bin/
obj/
*.dll
*.exe
*.cache
*.vsidx
*.dtbcache.*

# Node modules
node_modules/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Env files
.env
