<div class="create-post-container px-3 pt-3 mb-3">
  <div class="create-post-form-container mb-3 d-flex flex-column">
    <div *ngIf="!isImageDisplayed" class="mb-2 ms-2">
      <label class="btn-add-img" for="post-image">Add a cover image</label>
      <input id="post-image" style="display: none;" type="file" (change)="onImageSelected($event, true)" #fileInput>
    </div>
    <div *ngIf="isImageDisplayed" class="d-flex align-items-center gap-2">
      <img [src]="post.imageUrl ? 'http://localhost:5019' + post.imageUrl : previewImageUrl" alt="Cover Image"
        style="width: 300px; height: 150px; object-fit: contain;">
      <label class="btn-add-img" for="change-image">Change</label>
      <input style="display: none;" id="change-image" type="file" class="btn-add-img"
        (change)="onImageSelected($event, false)" #fileInput>
      <button (click)="removeImage()" class="btn-add-img text-danger">Remove</button>
    </div>
    <textarea class="post-title-input fs-1 ms-2" [(ngModel)]="post.title" type="text"
      placeholder="New post title here..." (input)="autoResize($event)" rows="1"></textarea>
    <div>
      <nz-select [(ngModel)]="categoryIdSelected" nzShowSearch nzPlaceHolder="Select a category">
        <nz-option *ngFor="let category of categoryService.categoryList" [nzLabel]="category.name"
          [nzValue]="category.id"></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="editor-container">
    <ckeditor class="my-editor" [editor]="Editor" [config]="editorConfig" [(ngModel)]="post.content"></ckeditor>
  </div>
</div>
<div class="d-flex gap-2">
  <button class="btn-add-img text-white" style="background-color: var(--sys-primary);"
    (click)="submit()">Publish</button>
  <button (click)="clear()" class="btn-add-img text-danger">Clear</button>
</div>