.header-container {
  background-color: var(--sys-primary);
  border-bottom: 1px solid #dee2e6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.but {
  color: var(--sys-on-primary);
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-image-container {
  cursor: pointer;
}