<div class="page-container d-flex flex-column gap-5">
  <div class="form-container d-flex justify-content-between align-items-center p-4">
    <div class="search-container d-flex align-items-center justify-content-center">
      <input type="text" class="" placeholder="Search Users..." />
      <button class="but-search"><i class="bi bi-search search-icon fs-5"></i></button>
    </div>
    <button class="btn-add">Add User</button>
  </div>
  <div class="table-container p-4">
    <table class="table">
      <thead>
        <tr style="font-weight: 600;">
          <td class="text-center" style="width: 50px;">#</td>
          <td class="">Full Name</td>
          <td class="" style="width: 200px;">Email</td>
          <td class="" style="width: 150px;">Username</td>
          <td class="text-center" style="width: 200px;">Created Date</td>
          <td class="text-center" style="width: 100px;">E-Verified</td>
          <td class="text-center" style="width: 100px;">Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of service.userList">
          <td style="width: 50px;" class="text-center">{{user.id}}</td>
          <td class="d-flex align-items-center gap-3">
            <img class="avt-img" [src]="'http://localhost:5019' + user.imageUrl" alt="avt">
            <div class="d-flex flex-column justify-content-center">
              <span class="fw-bold">{{user.fullName}}</span>
              <span>{{user.isAdmin ? 'Admin': 'User'}}</span>
            </div>
          </td>
          <td style="width: 200px;" class="">{{user.email}}</td>
          <td style="width: 150px;" class="">{{user.username}}</td>
          <td style="width: 200px;" class="text-center">{{user.createdAt | dateFormat}}</td>
          <td style="width: 80px;" class="text-center">{{user.isConfirmEmail}}</td>
          <td style="width: 80px;" class="text-center">
            <i class="bi bi-pencil-square fs-5"></i>&nbsp;&nbsp;&nbsp;<i class="bi bi-trash3 fs-5"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>