<div class="header-container d-flex justify-content-center align-items-center">
  <div class="header d-flex align-items-center justify-content-between">
    <div class="header-left d-flex">
      <a class="navbar-brand" href="/blog">
        <img src="../../../../assets/images/blog/logo" alt="Blog Logo" style="width: 50px;">
      </a>
      <div class="search-container d-flex align-items-center justify-content-center">
        <input type="text" class="" placeholder="Search..." />
        <button class="but-search"><i class="bi bi-search search-icon fs-5"></i></button>
      </div>
    </div>
    <div class="header-right d-flex align-items-center gap-3">
      <button routerLink="/auth/login" class="btn-login">Log in</button>
      <button class="btn-register">Create account</button>
    </div>
  </div>
</div>